<div style="width: 800px; margin: 0 auto; background: #DDD; border: 1px solid black; padding: 10px; border-radius: 3px;" onload="populateOptions()">
    Hello
</div>

<script type="text/javascript">
    bindAjax();
</script>