<div style="width: 800px; margin: 0 auto;" onload="populateOptions()">
  <div>
    <select id="requestsSelect" style="width: 200px">
    </select>
  </div>

  <div>
    <label>
      URL:
      <input id='url' type="text" value=""/>
    </label>
    <label>
      METHOD:
      <input id='method' type="text" value=""/>
    </label>
  </div>


  <div>
    <label>
      Body:
      <textarea id='body' style="width: 100%; height: 200px;"></textarea>
    </label>
  </div>

  <center>
    <input id="loadButton" type="button" value="Load"/>
  </center>

  <label>
    Result:
    <textarea id='result' style="width: 100%; height: 200px;">No result...</textarea>
  </label>

  <div>

  </div>

</div>