<div style="width: 800px; margin: 0 auto;">
  <div>
    <select id="requestsSelect" style="width: 200px">
    </select>

    <input type="button" id="loadButton" value="Load" />

  </div>

  <div>
    <label>
      URL:
        <input type="text" value="" />
    </label>
  </div>

  <div>

  </div>

  <div>
    hello
  </div>

</div>